.node {
    border: 1px solid black;
}
.inactive {
    display: none;
}
#selected-item-details-container td {
    white-space: pre;
    font-family: monospace;
}
#selected-item-details-container .metadata-div {
    white-space: pre;
    font-family: monospace;
}