.floating-prefix-label {
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.node {
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
.node:not(.dummy-node) {
    border: 1px solid black;
    overflow: hidden;
}
.node .node-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inactive {
    display: none;
}
#selected-item-details-container {
    min-height: 100vh;
    padding: 0 0 0 10px;
}
#selected-item-details-container td {
    white-space: pre;
    font-family: monospace;
}
#selected-item-details-container .metadata-div {
    white-space: pre;
    font-family: monospace;
}
#controls-container {
    border-bottom: 1px solid black;
    padding: 0 0 0 10px;
}
#refresh-button {
    width: fit-content;
    white-space: nowrap;
}
#display-type-radio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    height: 100%;
}
#display-type-radio-buttons label {
    margin: 0;
    position: relative;
}
#display-type-radio-buttons label input {
    margin-right: 2px;
}
.navigation-button {

}
#type-of-recording-radio-buttons label {

}
#decrement-training-step-button, #increment-training-step-button {

}